html body {
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
}

@media (min-width: 768px) {
	.nav {
		background-color: #f9f9f9;
		border-bottom: 1px solid #f94314;
		border-width: 5px;
	}

	.nav-fixed {
		background-color: #f9f9f9;
		border-bottom: 1px solid #f94314;
		border-width: 5px;
		z-index: 2;
		position: fixed;
		width: 100%;
		opacity: 0.9;
	}

	

	nav img {
		height: 5.5em;
		display: inline-block;
	}

	nav ul {
		padding-left: 0.5em;
		display: inline-block;
	}

	nav ul li  {
		list-style-type: none;
		display: inline-block;
		padding-left: 1em;
		font-size: 16px;
	}

	nav ul li a {
		font-size: 0.9em;
		color: #8e8e8e;
		font-family: inherit, sans-serif;
		font-weight: bold;
	}

	a {
		color: #8e8e8e;
		text-decoration: none;
	}

	a:link{
		text-decoration: none;
	}

	a:focus{
		color: #f94314;
		text-decoration: none;
	}

	a:hover {
		color: #f94314;
		text-decoration: none;
	}

	footer {
		border-top: 1px solid #f94314;
		border-width: 10px;
		background-color: #e8e5e5;
		color:#f94314;
		font-size: 1em;
		margin-top:5em;
		text-align: center;
	}

	footer ul {
		list-style-type: none;
		padding-left: 0.5em;
	}

	footer a{
		color:#f94314;
	}

	footer a:hover{
		text-decoration: underline;
	}

	footer ul li ul{
		padding-left: 1em;
	}

	.nav-active {
		color: #f94314;
		text-decoration: none;
		padding-bottom: 3px;
		border-bottom: 1px solid #f94314;
		border-width: 3px;
	}

	.slider {
		z-index: 1;
		padding: 0;
		overflow: hidden;
	}

	.slider-picture {
		left: 0;
		height: 100vh;
		width: 100%;
		z-index: 1;
		padding: 0;
		background-position: center;
		background-size: cover;
		display: none;
		float: left;
		background-repeat: no-repeat;
		position: absolute;
	}

	.slider-bg{
		position: relative;
		height: 100vh;
	}

	.more-info{
		position: absolute;
		text-align: center;
		bottom: 0;
		left: 0;
		right: 0;
		color: black;
		background-color: #f9f9f9;
		opacity: 0.8;
		z-index: 1;
		padding-top: 0.1em;
		padding-bottom: 0.8em;
	}

	.slider-text{
		font-size:4vw;
		width: 10em;
		color: white;
		font-family: 'Lato', sans-serif;
		font-weight: normal;
		text-align: left;	
		position: absolute;
		top: 25%;
		left: 50;
		padding: 0.2em;
		word-wrap: break-word;
		background-color: black;
		opacity: 0.8;
	}

	.box-content{
		padding-bottom: 5em;
		padding-top: 5.5em;
		background-size: cover;
	}

	.content {
		height: 70vh;
		vertical-align: middle;
		display: table;
		border-bottom: 1px solid #f94314;
		border-width: 5px;
	}

	.text-content{
		display: table-cell;
		vertical-align: middle;
		padding-bottom: 1em;
	}

	

	.title-content{
		padding-top: 0.5em;
		color: #f94314;
		font-size: 3.3em;
		
		margin-bottom: 0;
	}

	.desc-content{
		margin-top: 0;
		padding: 1em;
		font-size: 1.5em;
	}

	.btn-img{
		width: 3.5em;
		height: 3.5em;
		position: absolute;
		bottom: -1.75em;
		left: 50%;
		margin-left: -1.75em;
		background-image: url('../picture/arrow-down.png');
		background-size: 100%;
	}

	.btn-img:hover{
		background-image: url('../picture/arrow-down-focus.png');
	}
}

.sub-nav-fixed{
	position: fixed;
	top:0;
	right:0;
	margin-right: 8.33%;
	padding-left: 0;
	padding-right: 0;
}

.sub-nav{
	padding-left: 0;
	padding-right: 0;
	bottom: 0;
}

.sub-nav-btn{
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	border-left: 0.2em solid transparent;
	margin-bottom: -2;
}

.sub-nav-btn-inner{
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	padding-left: 1.5em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	border-left: 0.2em solid transparent;
}

.btn-outer:hover{
	border-left: 0.1em solid #f94314;
	padding-left: 0.6em;
}

.btn-inner:hover{
	border-left: 0.1em solid #f94314;
	padding-left: 1.6em;
}

.sub-nav-btn-active {
	border-left: 0.2em solid #f94314;
	color: #f94314;
}	

.left-over{
	display: inline;
}

.link-ico{
	visibility: hidden;
}

.main-section{
	padding-right: 0;
  	padding-left: 0;
}

.profile-title{
	font-size: 2em;
	margin-left: -1.1em;
}

.profile-sub-title{
	margin-left: -1.1em;
	font-size: 1.5em;
}

.profile-title:hover .link-ico{
	visibility: visible;
}

.profile-sub-title:hover .link-ico{
	visibility: visible;
}

.profile-desc{
	padding-left: 0.5em;
	font-size: 1.25em;
}

.sub-nav-inner{
	display: none;
	position: relative;
	box-shadow: none;
	padding-top: 0;
	margin-top: 0;
	border:none;
	overflow: hidden;
	background-color: transparent;
}

.header {
	padding-top: 27%;
	position: relative;
	margin-bottom: 1.5em;
}

.header img {
	top:0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.thumbnail{
	width: 15.5%;
    padding-top:14.27%;
    position: relative;
    margin: 0 5px 10px 5px;
	background-size: 100% 100%;
	cursor: pointer;
}

.thumbnail-photo{
	left: 0;
	position: absolute;
	width: 100%;
	top:0;
	height: 100%;
}

.thumbnail-container{
	padding: 5px;
}

.cover{
	position: absolute;
	z-index: -1;
}

.thumbnail-content{
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color:#f1f1f1;
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}

.thumbnail-non-logo{
	position: relative;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color:#000;
    opacity: 1;
}

.thumbnail-non-logo h4{
	width: 100%;
	margin-top: -0.025em;
	position: absolute;
	top: 50%;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
    line-height: 1.5em;
    transform: translateY(-50%);
}

.thumbnail-content h4{
	width: 100%;
	text-align: center;
	margin-top: -0.025em;
	position: absolute;
	top: 50%;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
    transform: translateY(-50%);
    line-height: 1.5em;
}


.thumbnail:hover .thumbnail-content{
    visibility: visible;
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
    text-align: center;
}
	
.thumbnail-content span {
	display: block;
	padding: 0 0 5px 0;
}

.square-box{
	width: 12%;
	padding-top: 11%;
	position: relative;
	display: inline-block;
	color: white;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 2em;
}

.number{
	width: 1.7em;
	height: 1.7em;
	border-radius: 100%;
	 box-shadow: 0 0 0 3pt white;
	position: absolute;
	top: -10px;
	right: -5px;
	padding: 0;
	padding-top: 3.5px;
	padding-left: 0px;
	margin: 0;
	font-weight: bold;
	color: white;
	font-size: 1.5em;
}



.space{height: 15em;}

.align-left{text-align: left;}
.align-right{text-align: right;}
.align-center{text-align: center;}

.pad-left{padding-left: 2em;}
.pad-left-null{padding-left: 0;}

.pad-right-null{padding-right: 0;}

.pad-top-tiny{padding-top: 0.1em;}
.pad-top-small{padding-top: 1em;}
.pad-top{padding-top: 1.5em;}
.pad-top-med{padding-top: 2.5em;}
.pad-top-large{padding-top: 5em;}

.pad-bot-small{padding-bottom: 0.1em;}
.pad-bot{padding-bottom: 1em;}
.pad-bot-large{padding-bottom: 3em;}

.padding{padding: 2em;}
.padding-large{padding: 4em;}
.padding-small{padding:0.5em}
.padding-null{padding: 0;}

.primary-color{color: #f94314;}

.behind{z-index: -1;}

.margin-left-small{margin-left: 2em;}
.margin-left{margin-left: 4em;}
.margin-top-tiny{margin-top:0.3em;}
.margin-btm{margin-bottom: 10em;}
.margin-btm-small{margin-bottom: 1.5em;}
.margin-btm-tiny{margin-bottom: 0.3em;}
.margin-tiny{margin:2em}

.border {border: 1px solid black;}

.border-radius-col-primary {border: 10px solid #f94314;border-radius: 50%;}
.border-radius-col-primary-20 {border: 10px solid #f94314;border-radius: 20px;}
.border-rad{border-radius: 20px;}

.display-inline-block{display: inline-block;}

.height-px-small{height: 25px;}
.height-px{height: 45px;}

.table{display: table;text-align: center;}
.table-cell{display: table-cell;vertical-align: middle;text-align: center;}

.hidden{display: none;}
.visible{visibility: visible;}
.a-visible{visibility: none;}

.bg-color-transparent{background-color: rgba(0,0,0,0.5);}
.bg-color-darker{background-color: rgba(0,0,0,0.95);}
.bg-color-white{background-color: white;}
.bg-color-primary{background-color:#f94314}

.max-height{max-height: 90vh;}
.scrollable{overflow:auto ;overflow-x:hidden;}

.font-white{color: white;}
.font-2-em{font-size: 1.2em;}

.inline{display: inline-block;}

.vertical-align-abs{transform: translateY(-50%);top:50%;position:absolute;}

.hidden-overflow{overflow: hidden;}

.fades{
	position: fixed;
	top:0;
	bottom: 0;
	z-index: 1;
}