html body {
	background-color: #f9f9f9;
}

@media (min-width: 768px) {
	.nav {
		background-color: #f9f9f9;
		border-bottom: 1px solid #f94314;
		border-width: 5px;
	}

	.nav-fixed {
		background-color: #f9f9f9;
		border-bottom: 1px solid #f94314;
		border-width: 5px;
		z-index: 2;
		position: fixed;
		width: 100%;
		opacity: 0.9;
	}

	

	nav img {
		height: 5.5em;
		display: inline-block;
	}

	nav ul {
		padding-left: 1.5em;
		display: inline-block;
	}

	nav ul li  {
		font-size: 1.000em;
		list-style-type: none;
		display: inline-block;
		padding-left: 2em;
		font-size: 16px;
	}

	nav ul li a {
		font-size: 1em;
		color: #8e8e8e;
		font-family: inherit, sans-serif;
		font-weight: bold;
	}

	a {
		color: #8e8e8e;
		text-decoration: none;
	}

	a:link{
		text-decoration: none;
	}

	a:focus{
		color: #f94314;
		text-decoration: none;
	}

	a:hover {
		color: #f94314;
		text-decoration: none;
	}

	footer {
		border-top: 1px solid #f94314;
		border-width: 10px;
		background-color: #e8e5e5;
		color:#f94314;
		font-size: 1em;
		margin-top:5em;
	}

	footer ul {
		list-style-type: none;
		padding-left: 0.5em;
	}

	footer a{
		color:#f94314;
	}

	footer a:hover{
		text-decoration: underline;
	}

	footer ul li ul{
		padding-left: 1em;
	}

	.nav-active {
		color: #f94314;
		text-decoration: none;
		padding-bottom: 3px;
		border-bottom: 1px solid #f94314;
		border-width: 3px;
	}

	.slider {
		z-index: 1;
		padding: 0;
		overflow: hidden;
	}

	.slider-picture {
		left: 0;
		height: 100vh;
		width: 100%;
		z-index: 1;
		padding: 0;
		background-position: center;
		background-size: cover;
		display: none;
		float: left;
		background-repeat: no-repeat;
		position: absolute;
	}

	.slider-bg{
		position: relative;
		height: 100vh;
	}

	.more-info{
		position: absolute;
		text-align: center;
		bottom: 0;
		left: 0;
		right: 0;
		color: black;
		background-color: #f9f9f9;
		opacity: 0.8;
		z-index: 1;
		padding-top: 0.1em;
		padding-bottom: 0.8em;
	}

	.slider-text{
		font-size:4vw;
		width: 10em;
		color: white;
		font-family: 'Lato', sans-serif;
		font-weight: normal;
		text-align: left;	
		position: absolute;
		top: 25%;
		left: 50;
		padding: 0.2em;
		word-wrap: break-word;
		background-color: black;
		opacity: 0.8;
	}

	.box-content{
		padding-bottom: 2em;
		padding-top: 5.5em;
	}

	.content {
		height: 70vh;
		vertical-align: middle;
		display: table;
		border-bottom: 1px solid #f94314;
		border-width: 5px;
	}

	.text-content{
		display: table-cell;
		vertical-align: middle;
		padding-bottom: 1em;
	}

	.title-content{		
		color: #f94314;
		font-size: 3.3em;
	}

	.desc-content{
		padding-top: 0.5em;
		font-size: 1.5em;
	}

	.btn-img{
		width: 3.5em;
		height: 3.5em;
		position: absolute;
		bottom: -1.75em;
		left: 50%;
		margin-left: -1.75em;
		background-image: url('../picture/arrow-down.png');
		background-size: 100%;
	}

	.btn-img:hover{
		background-image: url('../picture/arrow-down-focus.png');
	}
}

.sub-nav-fixed{
	position: fixed;
	top:0;
	right:0;
	margin-right: 8.33%;
	padding-left: 0;
	padding-right: 0;
}

.sub-nav{
	padding-left: 0;
	padding-right: 0;
}

.sub-nav-btn{
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	border-left: 0.2em solid transparent;
	margin-bottom: -2;
}

.sub-nav-btn-inner{
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	padding-left: 1.5em;
	border-left: 0.2em solid transparent;
}

.btn-outer:hover{
	border-left: 0.1em solid #f94314;
	padding-left: 0.57em;
}

.btn-inner:hover{
	padding-left: 1.57em;
	border-left: 0.1em solid #f94314;
}

.sub-nav-btn-active {
	border-left: 0.2em solid #f94314;
	color: #f94314;
}	

.aign-left{text-align: left;}
.align-right{text-align: right;}
.align-center{text-align: center;}

.pad-top-small{padding-top: 1em;}
.pad-top{padding-top: 1.5em;}
.pad-top-large{padding-top: 5em;}

.pad-bot{padding-bottom: 1em;}
.pad-bot-large{padding-bottom: 5em;}

.primary-color{color: #f94314;}

.left-over{
	display: inline;
}

.behind{z-index: -1;}

.margin-left{margin-left: 4em;}
.margin-top-tiny{margin-top:0.3em;}

.border {border: 1px solid black;}

.bg-red {background-color: #d8d4d4;}

.display-inline-block{display: inline-block;}

.link-ico{
	visibility: hidden;
}

.profile-title{
	font-size: 2em;
	margin-left: -1.1em;
}

.profile-sub-title{
	margin-left: -1.1em;
	font-size: 1.5em;
}

.profile-title:hover .link-ico{
	visibility: visible;
}

.profile-sub-title:hover .link-ico{
	visibility: visible;
}

.profile-desc{
	padding-left: 0.5em;
	font-size: 1.1em;
}

.sub-nav-inner{
	display: none;
	position: relative;
	box-shadow: none;
	padding-top: 0;
	margin-top: 0;
	border:none;
	overflow: hidden;
	background-color: transparent;
}